.bg-body-tertiary {
    background-color: #dcdcdc !important;
}

* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}