.bg-body-tertiary {
    background-color: #dcdcdc !important;
}

* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}


.accordion-button:focus {
    box-shadow: none !important;
    border-color: rgba(0,0,0,.125) !important;
    background: none;
}

